<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/sushi_menu.css">
<title>Sushi Menu</title>
<script>
    function handle_clicked(sushiInfo) {
        const orderSummary = document.getElementById('order_summary');
        orderSummary.value += sushiInfo + '\n';
    }
</script>
</head>
<body>
<h1 id="title"> Sushi Menu </h1>
<ul id="sushis">
    {% for sushi in sushis %}
        <li onClick="handle_clicked('Sushi: {{ sushi.type }} - Price: ${{ sushi.price }}')">
            <img src="{{ url_for('static', filename=sushi.image) }}" alt="">
            <h3>{{ sushi.type }}</h3>
            <h3>{{ sushi.price }}</h3>
        </li>
    {% endfor %}
</ul>
<form id="order_form" action="{{ url_for('order_request') }}" method="POST">
    <h2>Order Summary</h2>
    <textarea name="order_summary" id="order_summary" rows="10" cols="35"></textarea>
    <div id="customer_info">
        <label for="customer_name">Customer Name: </label>
        <input type="text" id="customer_name" name="customer_name">
    </div>
    <input type="submit" id="place_order">
</form>
</body>
</html>
