<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../static/css/welcome_page.css">
<title>Welcome Page</title>
</head>
<body>
<img src="../static/images/welcome_page/atarashy_logo.png" alt="Atarashy Logo">
<img src="../static/images/welcome_page/welcome.jpg" alt="Welcome Image">
<h1><a href="{{ main_menu_url }}">Click here to start your order</a></h1>
<a href="{{ url_for('kitchen') }}" class="kitchen-button">Kitchen</a>
</body>
</html>
